<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> <p class="letras">CREATE ACCOUNT</p> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-button color="medium"  (click)="onRegister()" class="ion-margin-top" expand="block"> <p class="letras">REGISTER</p></ion-button>
      </form>
      <ion-button color="medium"  class="ion-margin-top" routerLink="/login" expand="block" fill="outline">
       <p class="letras">Login</p>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>