ion-content {
  ion-item {
    --padding-start: 10px;
    --highlight-height: 0px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .file-choose {
    --background: #bbb;
    --box-shadow: none;
    --border-radius: 10px;
    height: 6rem;
    width: 6rem;

    ion-icon {
      font-size: 3rem;
    }
  }

  #image {
    height: 6rem;
    width: 6rem;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }

  ion-button {
    --box-shadow: none;
    --border-radius: 10px;
    height: 45px;
    text-transform: inherit;
    font-size: 17px;
  }
}
