<ion-header>

  <ion-title>
      Bugs
  </ion-title>

</ion-header>
<ion-content class="auth-form">

  <div class="postImgDiv">
    <img class="postImg" src="assets/shapes.svg" alt="">
  </div>




   <h2 class="p"> news, bugs, patch, etcc... </h2> 


<ion-grid class="grid">
  <ion-row>
    <ion-col align-self-center>
      <ion-button [routerLink]="['/login']" expand="block" color="medium">Login</ion-button>

      <span class="already">or</span>
     
      <ion-button [routerLink]="['/register']" expand="block" color="medium">Register</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>